body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Gris clair */
    color: #333; /* Gris foncé */
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    background-color: #ddd; /* Gris moyen */
    padding: 20px;
}

article {
    background-color: #fff; /* Blanc */
    padding: 20px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #ddd; /* Gris moyen */
}
